.home{
    background: radial-gradient(circle at 50% 0,rgba(255,0,0,.5),rgba(255,0,0,0) 70.71%)
    , radial-gradient(circle at 6.7% 75%,rgba(0,0,255,.5),rgba(0,0,255,0) 70.71%)
    , radial-gradient(circle at 93.3% 75%,rgba(0,255,0,.5),rgba(0,255,0,0) 70.71%) beige;
}
.home h1{
    color: #fff;
    font-weight: normal;
    text-align: center;
}
.home .home-link{
    max-width: 350px;
    display: flex;
    margin: 100px auto 0;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, .1);
    min-height: 100px;
    border-radius: 20px;
}
.home a{
    width: 90px;
    text-align: center;
    color: firebrick;
    padding: 12px 0 11px;
    background:rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    letter-spacing: .5px;
    transition: .3s ease-in-out;
    user-select: none;
}
.home a:hover{
    color: rgba(255, 255, 255, 0.9);
    background: firebrick;
}