.tour{
    background: #f1f5f8;
}
.tour h1{
    color: #fff;
}
.tour .section > .title{
    text-align: center;
    color: rgba(0, 0, 40, .8);
    font-size: 38px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tour .section > .title::after{
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: #0ac;
    margin: 10px auto 0;
}
.tour .section{
    max-width: 620px;
    margin: 0 auto;
}
.tour .section img{
    width: 100%;
    max-height: 320px;
    background-position: center;
    object-fit: cover;
}
.tour .tour-item{
    margin-bottom: 35px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    overflow: hidden;
}
.tour .tour-item > div{
    padding: 25px 30px 22px;
    background: #fff;
}
.tour .tour-item .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
} 
.tour .tour-item .title h3{
    color: #222;
    font-size: 16px;
    letter-spacing: 1px;
}
.tour .tour-item .title span{
    color: #49a6e9;
    font-weight: bold;
    letter-spacing: .5px;
    background: #ebf7ff;
    padding: 3px 8px;
    border-radius: 4px;
}
.tour .tour-item .detail{
    color:rgba(0, 0, 80, .5);
    line-height: 1.55;
    margin-bottom: 17px;
}
.tour .tour-item .detail p{
    display: inline;
    font-size: 16px;
}
.tour .tour-item .detail button{
    border: none;
    background: none;
    display: inline-block;
    margin-left: 5px;
    color: #49a6e9;
    font-size: 16px;
    cursor: pointer;
}
.tour .not-inter-btn{
    background: none;
    border: 1px solid brown;
    color: brown;
    border-radius: 5px;
    padding: 5px 40px;
    font-size: 17px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.tour .refresh-btn{
    border: none;
    font-size: 18px;
    color: #fff;
    background: #49a6e9;
    padding: 7px 12px 5px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}